fastapi
uvicorn[standard]
python-dotenv
pydantic
requests
tree-sitter
tree-sitter-python
tree-sitter-javascript
tree-sitter-typescript
rank-bm25
flake8
fastembed
numpy
langgraph
langchain-core
langchain-openai
langgraph-checkpoint-sqlite
